<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="input-codice">Codice</label>
      <input
        type="text"
        [(ngModel)]="codice"
        class="form-control"
        id="input-codice"
      />
    </div>
    <!-- <div class="form-group">
      <label for="input-nome">Nome</label>
      <input
        type="text"
        [(ngModel)]="nome"
        class="form-control"
        id="input-nome"
      />
    </div>
    <div class="form-group">
      <label for="input-descrizione">Descrizione</label>
      <input
        type="text"
        [(ngModel)]="descrizione"
        class="form-control"
        id="input-descrizione"
      />
    </div>
    <div class="form-group">
      <label for="input-prezzo">Prezzo</label>
      <input
        type="text"
        [(ngModel)]="prezzo"
        class="form-control"
        id="input-prezzo"
      />
    </div> -->

    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="salvaProdotto()"
    >
      Cliccami
    </button>
  </div>
</div>
